<div class="banner w-full h-96 bg-cover bg-no-repeat bg-center relative"
    style="background-image: url(https://t.ly/mrwEj);">
    <div class="absolute inset-0 bg-teal-600 opacity-50"></div>
    <div class="absolute inset-0 flex items-center justify-center text-center">
        <div class="content text-white">
            <h1 class="text-4xl md:text-6xl font-bold mb-4">Plan Your Perfect Trip</h1>
            <h2 class="text-2xl md:text-3xl font-light mb-6">From Dream Destinations to Memorable Experiences</h2>
            <p class="text-lg md:text-xl max-w-2xl mx-auto">
                Discover the easiest way to plan your travels. Enter your desired destination, your travel dates, and
                budget, and let us help you find the best deals on hotels, flights, and transportation. Start your
                adventure
                with just a few clicks!
            </p>
        </div>
    </div>
</div>

<div class="py-12">
    <app-search-filter />
</div>